<!DOCTYPE html>
<head> 
        <link rel="stylesheet" href="style.css">
</head>
    <body>
            <center><h1>Add new developer</h1></center>

            <a  class= 'link' href="/index5.html">Home</a>
            <a class= 'link' href="/addtask.html">Add new Task</a>

            <a class= 'link' href="/deletecomplete.html">Delete Complete Tasks</a>
            <a class= 'link' href="/deletetask.html">Delete Task</a>
            <a class= 'link' href="/updatetask.html">Updatec Task</a>
            <a class= 'link' href="/listtask">List all Task</a>
            <a class= 'link' href="/listdeveloper">List all Developer</a>

    </br></br>
        <form action="newDeveloper" method="POST">
            First Name <input type="text" name="firstname" /> 
            Last Name <input type="text" name="lastname" /> <br />
            Level <input type="text" name="level" /> <br />
            State<input type="text" name="state" /> 
            Suburb<input type="text" name="suburb" />
            Street<input type="text" name="street" />
            Unit<input type="text" name="unit" /><br/>
    
           
            <button>Submit</button>
        </form>
                 
           
                    
    </body>
</html>