<!DOCTYPE html>
<head> 
        <link rel="stylesheet" href="style.css">
</head>
    <body>
            <a  class= 'link' href="/index5.html">Home</a>
           
            <a class= 'link' href="/deletetask.html">Delete Task</a>
            <a class= 'link' href="/updatetask.html">Delete Task</a>

    </br></br>
        <form action="newTask" method="POST">
            Task Name <input type="text" name="taskName" /> <br />
            Assign To <input type="text" name="assignTo" /> <br />
            Task Due ('dd-mm-yyyy')<input type="text" name="taskDue" /> <br />
            Task status (In Progress/ Complete) <input type="text" name="taskStatus" /> <br />
            Task Desc <input type="text" name="taskDesc" /><br />
           
            <button>Submit</button>
        </form>
                 
           
                    
    </body>
</html>