<!DOCTYPE html>
<head> 
        <link rel="stylesheet" href="style.css">
</head>
    <body>
            <a href="/index5.html">Home</a>
            <a href="/listtask.html">List all task</a>
    </br>
        <form action="newTask" method="POST">
            Task Name <input type="text" name="taskName" /> <br />
            Task Due <input type="text" name="taskDue" /> <br />
            Task Desc <input type="text" name="taskDesc" /><br />
           
            <button>Submit</button>
        </form>
                 
           
                    
    </body>
</html>