<!DOCTYPE html>
<head> 
        <link rel="stylesheet" href="style.css">
</head>
    <body>
            <center><h1>Delete all complete task</h1></center>

            <a class= 'link' href="/index5.html">Home</a>
            <a class= 'link' href="/deletecomplete.html">Delete Complete Tasks</a>
            <a class= 'link' href="/addtask.html">Add new Task</a>
            <a  class= 'link' href="/adddeveloper.html">Add new Developer</a>

            <a class= 'link' href="/updatetask.html">Delete Task</a>
            <a class= 'link' href="/listtask">List all Task</a>
            <a class= 'link' href="/listdeveloper">List all Developer</a>
    </br></br>
        <form action="deleteComplete" method="POST">
            
           
            <button>Delete All Complete Task</button>
        </form>
                 
           
                    
    </body>
</html>