<!DOCTYPE html>
<head> 
        <link rel="stylesheet" href="style.css">
</head>
    <body>
            <a class= 'link' href="/index5.html">Home</a>
            
            <a class= 'link' href="/addtask.html">Add new Task</a>
            <a class= 'link' href="/updatetask.html">Delete Task</a>
    </br></br>
        <form action="deleteTask" method="POST">
            Task ID <input type="text" name="_id" /> <br />
           
            <button>Submit</button>
        </form>
                 
           
                    
    </body>
</html>