<!DOCTYPE html>
    <head>
            <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        <img src='space.jpg' width="1350" height="300">
        <h1 class='logo'>ToDo APP</h1>
    </br>
        <h1>  <a class= 'link' href="/addtask">Add new task</a><br></h1>
        <h1>  <a class= 'link' href="/adddeveloper">Add new developer</a><br></h1>
        <h1>  <a class= 'link' href="/listtask">List all task</a><br></h1>
        <h1>  <a class= 'link' href="/listdeveloper">List all developer</a><br></h1>

        <h1>  <a class= 'link' href="/deletetask">Delete task</a><br></h1>
        <h1>  <a class= 'link' href="/updatetask">Update task</a></h1>
        <h1>  <a class= 'link' href="/deletecomplete.html">Delete Complete Tasks</a></h1>
    </body>
</html>