<!DOCTYPE html>
<head>
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <center><h1>List all Developer</h1></center>

        <a class= 'link' href="/index5.html">Home</a>
        <a class= 'link' href="/addtask.html">Add new Task</a>
        <a  class= 'link' href="/adddeveloper.html">Add new Developer</a>

        <a class= 'link' href="/deletetask.html">Delete Task</a>
        <a class= 'link' href="/updatetask.html">Update Task</a>
        <a class= 'link' href="/deletecomplete.html">Delete Complete Tasks</a>
        <a class= 'link' href="/listtask">List all Task</a>

    </br></br>
    <h3>
        <table>
            <tr>
                <td>Developer ID</td>
                <td>Name</td>
                <td>Level</td>
                <td>Address</td>
                
                
            </tr>
            <% for ( var i =0; i< developer.length;i++){ %>
                <tr>
                    <td>
                        <%= developer[i]._id %>
                    </td>
                    <td>
                        <%= developer[i].name.firstName %> <%= developer[i].name.lastName %> 
                    </td>
                    <td>
                        <%= developer[i].level %>
                    </td>
                    <td>
                        <%= developer[i].address.state %> <%= developer[i].address.suburb %> <%= developer[i].address.street %> <%= developer[i].address.unit %>
                    </td>
                    
                </tr>
                <% }%>
    </h3>
    <br>
    
    
</body>
</html>