<!DOCTYPE html>
<head>
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <a href="/index5.html">Home</a>
        <a href="/addtask.html">Add new Task</a>
    </br>
    <h3>
        <table>
            <tr>
                <td>Name</td>
                <td>Due Date</td>
                <td>Description</td>
                
            </tr>
            <% for ( var i =0; i< task.length;i++){ %>
                <tr>
                    <td>
                        <%= task[i].taskName %>
                    </td>
                    <td>
                        <%= task[i].taskDue %>
                    </td>
                    <td>
                        <%= task[i].taskDesc %>
                    </td>
                </tr>
                <% }%>
    </h3>
</body>
</html>