<!DOCTYPE html>
<head> 
        <link rel="stylesheet" href="style.css">
</head>
    <body>
            <center><h1>Update task</h1></center>

            <a class= 'link' href="/index5.html">Home</a>
            <a class= 'link' href="/deletecomplete.html">Delete Complete Tasks</a>
            <a  class= 'link' href="/adddeveloper.html">Add new Developer</a>

            <a class= 'link' href="/addtask.html">Add new Task</a>
            <a class= 'link' href="/deletetask.html">Delete Task</a>
            <a class= 'link' href="/listtask">List all Task</a>
            <a class= 'link' href="/listdeveloper">List all Developer</a>
    </br></br>
        <form action="updateTask" method="POST">
            Task ID <input type="text" name="_id" /> <br />
            New Status (e.g: InProgress or Complete) <input type="text" name="newStatus" /> <br />
           
            <button>Submit</button>
        </form>
        
            
           
                    
    </body>
</html>