<!DOCTYPE html>
<head> 
        <link rel="stylesheet" href="style.css">
</head>
    <body>
            <a href="/index5.html">Home</a>
            <a href="/listtask.html">List all task</a>
            <a href="/addtask.html">Add new Task</a>
            <a href="/deletetask.html">Delete Task</a>
    </br>
        <form action="updateTask" method="POST">
            Task ID <input type="text" name="_id" /> <br />
            New Status (e.g: Inprogress or Complete) <input type="text" name="newStatus" /> <br />
           
            <button>Submit</button>
        </form>
        
            
           
                    
    </body>
</html>